body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  margin: 0;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.game-playing {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  gap: 10px;
  justify-content: center;
}

.hidden {
  display: none; 
}

.cell {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 2px solid #000;
  cursor: pointer;
  transition: opacity 0.3s;
  animation: showCell 0.4s ease-in-out;
  transition: background-color 0.3s ease;
}

.cell:hover {
  background-color: #ccc;
}

@keyframes showCell {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#gameStartModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 25px;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 5px;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#gameInfo {
  position: relative;
  width: 300px;
  margin: 20px auto;
  padding: 20px; 
  background-color: #fff;
  border-radius: 10px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#gameInfo h2 {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

#gameInfo p {
  margin: 5px 0;
  font-size: 18px;
  color: #666;
}

#gameInfo.show {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#gameInfo.hidden {
  opacity: 0;
  transform: translateY(-20px); 
}

#startGameButton {
  padding: 15px 30px;
  font-size: 18px; 
  background-color: #918a8a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#startGameButton:hover {
  background-color: #e4bd22;
  transform: translateY(-2px);
}

#startGameButton:active {
  background-color: #edd986;
  transform: translateY(2px);
}

.name-game {
  margin-bottom: 10px;
  font-size: 24px;
}

.message-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 25px;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 10px; 
  text-align: center;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.message-box h2 {
  margin-bottom: 20px;
  color: #333;
}

.message-box button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; 
}

.message-box button:hover {
  background-color: #000;
}

.footer {
  background-color: #918a8a;
  color: white;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  margin-top: auto;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer-container a, .footer-container span {
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.git:hover {
  color: #ffffff;
}

.footer-container img {
  width: 40px;
  height: auto;
}